@base: #663333;
@lighter1: lighten(spin(@base, 5), 10%);
@lighter2: lighten(spin(@base, 10), 20%);
@darker1: darken(spin(@base, -5), 10%);
@darker2: darken(spin(@base, -10), 20%);

@import "normalize.less";
@import "mixins.less";
@import "boiler-reset.less";
@import "icomoon.less";

/*--[ Typography ]--------------------------------------------------------------------------------*/

::-moz-selection {text-shadow: none;background-color:#333;color:#fff;}
::selection {text-shadow: none;background-color:#333;color:#fff;}

.paragraphfont(@weight: 300){
	font-family: "proxima-nova", Helvetica, Arial, sans-serif;
	font-weight: @weight;
}
.logofont(){
	font:normal 2.1em/1.2em "swingdancer-1","swingdancer-2",Baskerville,Georgia,cursive;
}

h1, h2, h3, h4, h5, h6 {margin-bottom: 0.3em;font-weight:300;color:#333;}
p, ul, ol, dl, blockquote, hr, pre, table, fieldset, article, article footer{margin: 0 0 1.4em 0;line-height: 0em;}

h1{ font-size:3.1em; line-height: 0.9em; letter-spacing: -.05em;margin-top: 0.9em;margin-bottom: 0.6em;text-shadow: 2px 2px 0 #fff;} 
h2{ font-size:1.95em; line-height: 1.1em;margin-top: 1em;margin-bottom: 0.5em; letter-spacing: -.05em;text-shadow: 1px 1px 0 #fff;} 
h3{ font-size:1.7em; line-height: 1.1em; letter-spacing: -.035em;margin-top: 0.7em; letter-spacing: -.05em;margin-bottom: 0.4em;text-shadow: 1px 1px 0 #fff;}  
h4{ font-size:1.2em; line-height: 1.3em;margin-bottom: 0.5em;text-shadow: -1px -1px 0 #fff;text-shadow: 1px 1px 0 #fff;}
h5{  font-size:1.1em; line-height: 1.2em;font-weight:bold;text-shadow: 1px 1px 0 #fff;}
h6{ font-size:.9em; line-height: 1.1em; }
p{ font-size:1.1em;  line-height: 1.4em;}

a {color: #555;text-decoration: none;}
	a:hover{color: #000;text-decoration: none;.transition(all 0.3s ease);text-shadow:0px 0px 8px #888;}

ul{margin-bottom:1.5em;}
	ul li{list-style:none;line-height:1.35em;}
		ul li i{color:#777;}

p.lge{font:4.6em/1em Georgia, "Times New Roman", Times, serif;margin:0.6em 0 -.4em;text-shadow: -2px -2px 0 #fff;letter-spacing: -1px;}

hr {background: none;  border: 0;line-height: 0.5em;display:block;height:1px;border:none;border-top:1px solid #bbb;border-bottom:1px solid #fff;margin:0.5em 0 1.5em;padding:0}
	hr.light {border-top: 1px solid #ddd;border-bottom:1px solid #fff;line-height: 0.5em;}

.breadcrumb{background-color:#eee;font-size:0.9em;border-radius:6px;padding:0 0 0 20px;width:100%;margin:10px 0 0;}
	.breadcrumb h3{margin:0;padding:0.3em 0;}

blockquote {font-size: 36px;margin: 0 auto;position: relative;}
	blockquote .quote{font: 4.2em/1 Georgia,"Times New Roman",Times,serif;left: 15px;top: -18px; color: #DDDDDD;position: absolute;}	
	blockquote p{color:#333;font: 0.6em/1.6em Georgia,"Times New Roman",Times,serif;font-style:italic;padding:0 20px 0 85px;}
		blockquote p span.lge{color:#777;font-size:2em;line-height:0.9em;vertical-align:sub;}
		blockquote p span{font-size:1.5em;vertical-align:sub;}


/*--[ Layout ]--------------------------------------------------------------------------------*/

* {.box-sizing;}

html{.paragraphfont;text-align: center;background: #fff;}

body{-webkit-backface-visibility: hidden;/*Use hardware acceleration for the animations */background:#FFF;text-align:left;color:#333;font-size:1em;line-height:1.4em;min-width:320px;background:url(../img/body_bg.png);padding:80px 0 0 0;}

body, img, .wrap{}

img{max-width: 100%;}

.half{width:555px;margin-right:80px;display:inline;float:left;position:relative;}
.half.form{padding-top:45px;padding-bottom:10px;margin-right:0;}
.half.form.home{padding:0 0 20px;margin-right:0;}

.main {/* overflow: hidden;*/zoom: 1;clear: both;padding:.3em 0 4.2em 0;}

.bookmark{display:block;margin:0;}

.wrap {width:1200px;max-width:1200px;margin:0 auto;display:block;}
	.lt-ie9 .wrap{width: 1210px; max-width: 1210px;}    


/*--[ Header ]--------------------------------------------------------------------------------*/

header:before {.shine;}
header{background:rgba(0,0,0,0.85);width: 100%;height:100px;position: fixed;top:0px;z-index:99999;left: 0;text-shadow: -1px -1px 0 #000;background:url(../img/bg-dark.png) #333;padding:0;.transition(all 0.3s ease);.box-shadow(0,2px,5px,0.4);}
	header .wrap {height:50px;position:relative;top:26px;.transition(top 0.3s ease);}
	header.fix{height:54px;}
		header.fix .wrap{top:0;}

#logo{width:auto;}
	#logo a {float:left;color:#fff;font-weight:800;margin:0;.logofont;background-image: -webkit-linear-gradient(top,#ffffff, #d0d0d0);-webkit-background-clip: text;-webkit-text-fill-color: transparent;text-shadow:none;padding:0 3px 0 0;border:none;.transition(all 0.3s ease);}
	header.fix #logo a {margin-top:7px;}
	#logo a:hover{text-shadow:0px 0px 15px #fff;}
	#logo h5{position:absolute;top:38px;left:2px;color:#666;font-size:0.8em;line-height:1em;margin:0px;text-shadow: -1px -1px 0 #000;text-transform:uppercase;.transition(all 0.3s ease);}
	header.fix #logo h5 {.opacity(0);}

/*--[ Nav ]--------------------------------------------------------------------------------*/

nav {position: absolute;bottom:5px;/* right: 40px;*/right: 0;}
	nav ul {float:right;margin:3px 0 0 0;}
	nav ul li{float:left;position:relative;}
		nav ul li a {border:none;display: block;padding:10px 1.2em;margin:0 8px;color: #ccc;.border-radius();border:1px solid #000;text-decoration: none;line-height:1em;font-weight: 400;font-size:1.15em;.box-shadow(inset 0 1px 1px  rgba(255,255,255,.2), 0 2px 3px rgba(0,0,0,.8));cursor:pointer;background-color:rgba(200,200,200,0.1);}
			nav ul li a:hover {.box-shadow(inset 0 1px 1px  rgba(255,255,255,.2), 0 0 5px rgba(0,0,0,.1));color:#fff;background-color:rgba(255,255,255,0.1);}
			nav ul li a:active,nav ul li a.current {.box-shadow(inset 0 1px 1px  rgba(0,0,0,.5), 0 0 5px rgba(0,0,0,.2));color:#aaa;text-shadow:0px 0px 0px #000;background-color:rgba(0,0,0,0.1);}

ul.icons {padding:1px 5px 0 15px;float:left;margin:13px 0 0 22px;border-left:1px solid #222;.box-shadow(1px 0 0px rgba(255,255,255,.1) inset);}
	header.fix ul.icons a{/*margin-top:15px;*/line-height:1.1em;}
	ul.icons li{float:left;position:relative;}
		ul.icons li a{padding:1px 1px 1px 1px;margin:0 3px;color: #666;border:none;text-decoration: none;line-height:0.8em;font-weight: 400;font-size:1.4em;text-shadow:-1px -1px 0px #111;}

nav a:hover,ul.icons li a:hover,button:hover{ /*border-bottom: 1px solid #989898;*/color:#fff;text-shadow:0px 0px 12px #fff;}


/*--[ Portfolio ]--------------------------------------------------------------------------------*/

.portfolio{padding:30px 0 10px 0;clear:both;display:table;}
.port {cursor:pointer;.border-radius(0 0 8px 8px);border:1px solid #ccc;.box-shadow(0px,2px,5px,0.2);float:left;margin:14px;position: relative;width:374px;height: 100%;.transition(all 0.3s linear);.opacity(1);
	img{border-bottom:2px solid #fff;width:374px;}	
	&.blur{.scale(0.96);.opacity(0.4);text-shadow: 0px 0px 10px rgba(255, 210, 82, 0.9);.filter(blur(5px));}	
	&.active{.box-shadow(0px,5px,15px,0.4);z-index: 100;.opacity(1);}
		&.active .header h4:before{color:#eee;text-shadow:0 0 6px #eee;}
	.header:before {.shine;}
	.header {.border-radius(0 0 8px 8px);position:relative;width:100%;height: 54px;background:rgba(0, 0, 0, 0.80);text-shadow: -1px -1px 0 #000;background:url(../img/bg-dark.png) #333;padding:0 1px 0 4%;}
		.header h4:before{.iconfont("\e00b");float:right;position:absolute;right:4%;top:19px;font-size:2.5em;color:#333;text-shadow:0 -1px 0 #111;}
		.header h4 {font-size: 0.8em;font-weight: 600;margin: 0;padding: 8px 0 0;text-transform: uppercase;color:#ddd;text-shadow:-1px -1px 0 #000;}
		.header h5 {font-size: 1.2em;font-weight: 200;text-shadow:-1px -1px 0 #000;margin:0;z-index:10;position:relative;}
			.header h5 a,.header h5 a:hover {color: #aaa;text-shadow:none;}	
}

/*--[ Portfolio Detail ]--------------------------------------------------------------------------------*/

.detail{position: relative;}
	.detail .heroimages {height:620px;width:660px;float:left;position: relative;margin:2.5em 0 0;}
		.detail .heroimages img{position: absolute;}
	.detail .auximages{float:left;text-align:center;width:650px;}
		.detail .auximages img{margin:0 auto;display:block;}

	.detail .side {padding-top: 10px;width: 480px;float:right;position: relative;padding-bottom:20px;}
		.detail .side ul li:before{.iconfont("\e003");color:#333;display:inline;margin-right:3px;}
		.detail .side .hlink:before{.iconfont("\e00c");color:#333;display:inline;margin:0 5px 0 2px;}

.other h3{font-size:1.3em;padding:10px 10px 0 20px;}
.other ul{padding:0 10px 0 20px;list-style:inside;}

.headimage {left: 10px;top: 10px;width: 560px;z-index: 1;}    
.iphone {width: 190px;top: 220px;right: 10px;z-index: 2;}   

#mc_embed_signup{background: #eee;line-height: 2em;width:95%;margin:10px 0 10px;padding:0.6em 5% 0.1em 5%;}
#mc_embed_signup input[type=email]{width:100%;margin:0 0 0.2em;display:block;background-color:#fff;border: 1px solid #fff;}

.stores{max-width:375px;width:100%;margin:10px auto 30px;}
	.stores img{margin:2px 4px 2px 4px;}
	.stores a:hover{.opacity(0.7);}	


/*--[ Contact Form ]--------------------------------------------------------------------------------*/


label{display:block;margin: 0.6em 4% 0 0;font-size:1.2em;line-height:1.2em;}
	label span{font-size:1.7em;color:#999;line-height:0;vertical-align:middle;}
input, textarea {.paragraphfont;clear: both;.border-radius(0.3em);.box-shadow(1px 1px 8px rgba(0, 0, 0, 0.15) inset);overflow: hidden;position: relative;background-color:#eee;border: 1px solid #fff;color: #555;display: block;font-size: 1.2em;line-height: 1.2em; margin: 0.4em 0 0.4em; outline: 0 none;padding: 0.4em 0.6em;width: 88%;display:inline-block;vertical-align:top;}
input {height: 40px;}
textarea {height: 120px;margin: 0.4em 0 0.8em;}	



/* chrome, safari */  ::-webkit-input-placeholder {color:#bbb;font-style:italic;} 
/* mozilla */ input:-moz-placeholder, textarea:-moz-placeholder {color:#bbb;font-style:italic;}  
/* ie (faux placeholder) */  
input.placeholder-text, textarea.placeholder-text{color:#bbb;font-style:italic;}   
:required{content: '';}

.cform label{width:24%;display:inline-block;margin: 0.8em 4% 0 0;font-size:1.2em;text-align:right;}
.cform input,.cform textarea{width: 58%;}
.cform{height:500px;}

input:hover, textarea:hover{border-color:#333;.transition(border-color 0.4s ease 0s);}
input:focus, textarea:focus{border-color:#111;.transition(border-color 0.4s ease 0s);background-color:#fff;}

button:before {.shine;}
button {display: inline-block;padding:1em 2em;margin:8px 0 20px 0;color: #aaa;.border-radius;border:1px solid #000;text-decoration: none;line-height:1em;font-weight: normal;font-size:1em;.box-shadow(inset 0 1px 1px  rgba(255,255,255,.2), 0 2px 3px rgba(0,0,0,.8));cursor:pointer;background:rgba(0,0,0,0.85);text-shadow: -1px -1px 0 #000;background:url(../img/bg-dark.png) #333;.transition(color 0.3s ease);position:relative;}
	button:hover {opacity:0.9;color: #fff;text-shadow:0 0 6px }
	button:active {.box-shadow(inset 0 1px 1px  rgba(0,0,0,.3), 0 0 2px rgba(0,0,0,.1)); opacity:1;top:1px;}
.cform button{margin-left:28%;}


.forminfo:before {.iconfont("\e005");.gradient(#fe4444, #ff0000);float:right;position:absolute;left:3.5%;top:24%;font-size:1.2em;color:#fff;text-shadow:0 -1px 0 #000;.border-radius(40px);border:1px solid #b90000;padding:10px 10px 18px;display:block;height:10px;line-height:1em;.box-shadow(inset 0 2px 1px rgba(255,255,255,.4));}
.forminfo {border:solid 1px #E58E8E;padding:24px 20px 20px 14%;margin:25px 0px;display:block;width:100%;.border-radius;display:none;position:relative;background-color:#ffdddd;}
	.forminfo li:before {content: ' - ';}	
	.forminfo li {padding:2px;list-style:none;}
	.forminfo #info:before {content: '';}
	.forminfo #info {font-size:1.1em;line-height:1em;}

#success.forminfo:before {.iconfont("\e003");border:1px solid #65c669;.gradient(#83D186, #65c669);top:22%;}
#success.forminfo {border:solid 1px #83D186;background-color:#eefdef;margin:60px 0 0;}
	#success.forminfo h3{margin-top:0.4em;}
	
#errors.visible, #success.visible {display:block;}


/*--[ Footer ]--------------------------------------------------------------------------------*/

footer ul li{list-style:none;display:inline-block;margin:0 4px 0 4px;line-height:1.2em;}
	footer ul li a {font-size: .9em; text-transform: uppercase;text-decoration: none;}
	footer ul li a:hover {}
.icon-envelope-alt,.icon-phone,.icon-circle-arrow-right{vertical-align:middle;}
.icon-small{margin-left:5px;}
.contact a .icon-small{color:#444;}

/*--[ Graph ]--------------------------------------------------------------------------------*/

.graph{position:relative;height:200px;width:100%;margin:200px 0 100px;font-family:Arial, Helvetica, sans-serif;color:#222;-webkit-backface-visibility: hidden;}

.cube {position: absolute;left: 20%;bottom: 0px;.opacity(.8);.transform-transition(0.3s, linear);}
	.cube:hover {.translate(12px, 6px);.opacity(1);}
	.cube p {line-height: 14px;font-size: 14px;}
		.cube p:hover{cursor:default}
		.cube.two {bottom: 12%;left: 28%;}
		.cube.three {bottom: 24%;left: 36%;}
		.cube.four {bottom: 36%;left: 44%;}
		.cube.five {bottom: 48%;left: 52%;}
		.cube.six {bottom: 60%;left: 60%;}
		.cube.seven {bottom: 72%;left: 68%;}
		.cube.eight {bottom: 84%;left: 76%;}

.lt-ie9{
		.cube,.cube.two,.cube.three,.cube.four,.cube.five,.cube.six,.cube.seven,.cube.eight {bottom: -5px;}
		.topFace,.leftFace{display:none;}		
		.rightFace p,.l2 .rightFace p,.l3 .rightFace p,.l4 .rightFace p{width:140px;color:#666;font-size:13px;margin-left:8px;margin-top:auto;margin-bottom:auto;filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);zoom:1;background-color: #ccc;position:absolute;bottom:138px;}		
		.rightFace p{width:70px;bottom:65px;}
}

.rightFace,.leftFace,.topFace div {padding: 0px;width: 30px;height: 112px;}

.l2 .rightFace,.l2 .leftFace{height:160px;}
.l2 .topFace{bottom: 154px;}
.l2 .rightFace p{margin-top:75px;}

.l3 .rightFace,.l3 .leftFace{height:210px;}
.l3 .topFace{bottom: 204px;}
.l3 .rightFace p{margin-top:125px;}

.l4 .rightFace,.l4 .leftFace{height:260px;}
.l4 .topFace{bottom: 254px;}
.l4 .rightFace p{margin-top:175px;}

.scale {left: 15%;bottom: -10%;position: absolute;}
	.scale ul{text-align:right;-webkit-transform: skew(0deg, 30deg);-moz-transform: skew(0deg, 30deg);-o-transform: skew(0deg, 30deg);-ms-transform: skew(0deg, 30deg);transform: skew(0deg, 30deg);margin:0 0 -15px -20px;font-size:12px;color:#555;padding:0;}
		.scale ul li{margin:90px 0 30px;border-bottom:1px solid #666;}

.rightFace,.leftFace,.topFace {position: absolute;bottom:0;}

.rightFace p{.rotate(270deg);line-height:13px;margin:30px 0 0 -55px;width:140px;}
.leftFace {.skew(0deg, 30deg);background-color: #c5c5c5;}
.rightFace {.skew(0deg, -30deg);background-color: #ccc;left: 29px;}
.topFace div {-webkit-transform: skew(0deg, -30deg) scale(1, 1.16);-moz-transform: skew(0deg, -30deg) scale(1, 1.16);-o-transform: skew(0deg, -30deg) scale(1, 1.16);-ms-transform: skew(0deg, -30deg) scale(1, 1.16);transform: skew(0deg, -30deg) scale(1, 1.16);background-color: #ddd;height:30px;}
.topFace {.rotate(60deg);bottom: 106px;left: 15px;}


/*--[ Footer ]--------------------------------------------------------------------------------*/
footer {overflow: hidden;zoom: 1;clear: both;padding: 60px 0 0;text-align:center;}
.contact{border-top:1px solid #ddd;padding:0;position:relative;}
	.contact h2{margin:.5em 0 .3em;}
	.contact a{display:inline-block;}
	.contact i.peo{background-color: #333333;position:absolute;top:0px;border-radius: 40px; color: #FFFFFF;margin: -20px 0 0 -20px;padding: 11px 19px 11px 17px;text-shadow:-1px -1px 0 #000;}


/*--[ Laptop & Desktop ]--------------------------------------------------------------------------------*/
@media only screen and (min-width: 1200px) {	
    .port:nth-child(3n) { margin-right: 5px;}
	.port:nth-child(3n-2) { margin-left: 5px;}  
}
/*--[ iPad Landscape and Older Desktop]----------------------------------------------------------------------*/
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
    body {font-size:0.95em;}
	.wrap {max-width: 970px;}    
	
    .port {width: 300px;}    
    	.port img {width: 100%;}    
    .port:nth-child(3n) { margin-right: 5px;}
	.port:nth-child(3n-2) { margin-left: 5px;} 
	
	.detail .heroimages {height:600px;width:510px;} 
	.detail .auximages{width:510px;} 
   	.detail .side {padding-top: 20px;width: 385px;}   	
	.headimage {top: 10px;}    
	.iphone {width: 160px;top: 250px;right:0;}   
	.half{width:455px;margin-right:50px;}


	
	.graph{height:180px;}
}

/*--[ 2 column - iPad portrait ]--------------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
     body {font-size:0.9em;}
    .wrap {max-width: 768px;}  
	  
     h1{font-size:2.5em;padding:10px 0 15px;}
	 h2{font-size:1.8em;}
    .port {width: 360px;}	 
    .port img {}
    .port .header{font-size: 1.1em;}
	    .port:nth-child(2n) { margin-right: 5px;}
	.port:nth-child(2n-3) { margin-left: 5px;}  
	
   	#logo a{margin:4px 0 0;} 	

	nav ul {margin:0;}
     nav ul li a{} 
	
    /* portfolio detail */
    .detail {height: 460px;width: 750px; }    
		.detail .side{padding-top: 5px;width: 300px;}   
    	.detail .heroimages {height:460px;width:410px;} 
			.detail .auximages{width:410px;} 
    .headimage {left: 0px;top: 10px;width: 435px;}    
	.iphone {top: 210px;width: 120px;	}
    .detail h3 { font-size: 1.4em !important; }
	
	.half{width:360px;margin-right:40px;}
	
	.graph{height:140px;margin:220px 0 60px;}
}

/* 
	1-column layout for smartphones
*/

@media only screen and (min-width: 620px) and (max-width: 767px) {
     body {font-size:0.85em;}
    .wrap {width:100%;padding:0 1%;}  
	  
	  h1{ font-size:1.8em; line-height: 1.1em;padding:0.1em 0 0.3em;} 
	  h2{ font-size:1.6em; line-height: 1.125em;} 
    .port {width: 48%;margin:10px 1% 0 1%;}	 
    .port .header{font-size: 1.1em;}
	    .port:nth-child(2n) {}
	.port:nth-child(2n-3) {}  
	
   	#logo a{margin:4px 0 0;}
		#logo h5 {left:10px;}

	nav ul {margin:0px 8px 0 0;}
     nav ul li a{padding:8px 15px 8px 15px;margin:0 4px;} 
		ul.icons{padding:0 0 0 5px;margin:15px 0 0 8px;font-size:1.2em;}
			ul.icons li a{margin:0 2px;}
    /* portfolio detail */
    .detail {height: 460px;width: 750px; }    
		.detail .side{padding-top: 5px;width: 300px;}   
    	.detail .heroimages {height:460px;width:400px;} 
			.detail .auximages{width:400px;} 
    .headimage {left: 0px;top: 10px;width: 400px;}    
	.iphone {top: 210px;width: 110px;	}
    .detail h3 { font-size: 1.4em !important; }
	
	.half{width: 100%;padding:10px 2% 0 2%;margin:0;}
	
	.graph{height:180px;width:100%;margin:180px auto 100px auto;width:480px;}
}
@media only screen and (max-width: 620px) {
	body {font-size:0.95em;}
	  h1{ font-size:1.9em; line-height: 1.2em;padding:0 0 0.2em;} 
	  h2{ font-size:1.5em;} 
	  h3{ font-size:1.3em;} 
	  h4{ font-size:1.1em;}
	  h5{ font-size:1.1em;}
	  h6{ font-size:0.875em;}
		p{font-size:1.1em}
	header {padding:0;padding:0;position: fixed;margin:0;}		
	header .wrap {height:100px;margin:0 auto;top:0;padding:0;}	
	
	.wrap {margin-left:auto;margin-right:auto;padding:15px 5px 0 5px;width:100%;}
	
	header.fix{margin:-50px 0 0 0;height:100px;}	
		header.fix #logo a {margin-top:0px;}	
	#logo a {font-size:2em;margin:5px 0 0 5px;float:left;}
		#logo h5 {font-size:0.75em;top:38px;left:10px;}
		
	nav {clear:both;padding:20px 0 0 0;position:relative;}
	nav ul.menu {margin:2px auto 0;width:400px;float:none;}
	nav ul li a {padding:8px 22px 7px 22px;}
		
	ul.icons{float:right;font-size:1em;margin:15px 12px 0 0;padding:2px 0 2px 15px;}
	ul.icons li a{}
	
	.port .header h5 {font-size: 1em;}
	
	hr{margin:0.3em 0 0.4em;}	
			
	/* portfolio detail */
    .detail {height: auto;width:100%;}    
    .detail .side {padding: 30px 5px 0 5px;width: auto;float:none;}        
	.detail .heroimages {margin:10px 0 0 0;height:520px;width: auto;float:none;} 
	    .headimage {left: 0px;top: 0px;width:95%;}    
		.iphone {top: 200px;width: 180px;	}
	.detail .auximages{margin:0;width: auto;float:none;}
    /* .headimage, .iphone { display: none; visibility: hidden; } */
    .detail .side h3 { font-size: 1.4em !important; }    
    .detail .side h3 { position: absolute; top: 35px;line-height: 1em;}  
	.half{width:100%;margin-right:0px;margin-top:0px;padding-right:5px;padding-left:5px;}	
	

}
@media only screen and (max-width: 479px) {
 body {font-size:1em;}


	 .wrap{min-width:320px;max-width:380px;}
	
	#logo a {font-size:2em;margin:5px 0 0 5px;float:left;}
		#logo h5 {font-size:0.75em;top:38px;left:10px;}
		
	nav {clear:both;padding:20px 0 0 0;position:relative;font-size:0.95em;}
	nav ul.menu {margin:0 auto;width:320px;float:none;}
	nav ul li a {padding:8px 16px 7px 16px;margin:0 4px 0 4px;}
		nav ul li:first-child a {margin-left:0;}
		nav ul li:last-child a {margin-right:0;}		
	ul.icons{padding:0 0 0 5px;float:right;margin:18px 5px 0 0;}
	ul.icons li a{padding:2px 1px 0;}
	footer {width: 100%;}
	.portfolio{padding:0;}
	.port {width:100%;margin:0 auto 15px auto;float:none;min-width:310px;max-width:380px;}	
 		.port img{width:100%;}
	.port .header h5 {font-size: 1.1em;}
	
		/* portfolio detail */
    .detail {min-width:310px;max-width:380px;}        
	.detail .heroimages {height:290px;} 
	    .headimage {width: 320px;}    
		.iphone {top: 140px;width: 100px;}

	label{text-align:left;}
	input, textarea { width: 95%;font-size:16px;}
	input[type=button], input[type=submit],.submit{
		margin:10px 0 20px 0;
	}

	p.lge{margin:0.2em 0 -0.4em;font-size:3.3em}
	
	.graph{height:130px;margin:240px 0 10px;}
	
	.cform label{width:100%;display:block;margin: 0.4em 0 0 0;font-size:1.1em;text-align:left;}
	.cform input,.cform textarea{width: 100%;}
	.cform button{margin-left:0;}
	/*body {font-size:0.95em; }
	.wrap{width:320px;}		
	nav ul.menu {margin-right:5px;}
	nav ul li a {padding:8px 16px 7px 16px;margin:2px 2px 0 2px;}
	
	.detail {width: 310px;}  
		    .headimage {left: 0px;top: 0px;width: 300px;}    
		.iphone {top: 120px;width: 100px;	}
	#logo a {}
		#logo h5 {}
			input, textarea{width:92%;}
	 .port {width:308px;}	*/
}


/*--[ PRINT STYLES ]--------------------------------------------------------------------------------*/
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none; letter-spacing: 0 !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }  
  img { page-break-inside: avoid; } 
  @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }  
  header,footer,nav{display: none; }    
  .main { overflow: visible; }
  .wrap { width: 100%; margin: 0; }
 	.port {width: 300px;}  
  .port { font-size: 0.8em; height: auto; margin-bottom: 10px; }
  .port p { display: none; }  
  .port .header { padding: 0; height: auto; position: relative; }
  .port a:after { content: ""; }  
   .detail { width: 100%; height: auto; float: left; }    
    .detail  img, .detail  div { position: relative; }
    .iphone, .headimage{ display: none !important; }
}


/* IE6 + 7 warning */

#ieWarning {background: #F6F6F6;border-bottom:1px solid #CCC;padding: 20px 0 0;	overflow: hidden;width:100%;zoom:1;}
#ieWarning p {line-height: 16px;margin: 0;padding: 0 20px 5px 20px;}
#ieWarning .more-info {float: right;margin: 20px;padding: 5px;background: #989898;color: #FFF;white-space: nowrap;zoom:1;}