/*--[ HTML5 Boilerplate RESET ]--------------------------------------------------------------------------------*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,hgroup,menu,nav,section,menu,time,mark,audio,video{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0}
article,aside,figure,footer,header,hgroup,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help}
table{border-collapse:collapse;border-spacing:0}

input,select{vertical-align:middle}

/*--[ HTML5 Boilerplate MINIMAL BASE STYLES ]--------------------------------------------------------------------------------*/
table { font-size:inherit; font:100%; }
select, input, textarea { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; } 
body, select, input, textarea { color:#444; }
h1,h2,h3,h4,h5,h6 { font-weight: bold; text-rendering: optimizeLegibility; }
html { -webkit-font-smoothing: antialiased; }
a:hover, a:active { outline: none; }
strong, th { font-weight: bold; }
td, td img { vertical-align:top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre { padding: 15px; white-space: pre; /* CSS2 */ white-space: pre-wrap; white-space: pre-line; word-wrap: break-word; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
::-moz-selection{ background: #989898; color:#FFF; text-shadow: none; }
::selection { background:#989898; color:#FFF; text-shadow: none; } 
a:link { -webkit-tap-highlight-color: #989898; } 
html { overflow-y: scroll; }
button {  width: auto; overflow: visible; }
.ie7 img, .ie8 img { -ms-interpolation-mode: bicubic; }

/*--[ HELPER CLASSES ]--------------------------------------------------------------------------------*/
.hidden { display:none; visibility:hidden; }  /* Hide for both screenreaders and browsers */
.visuallyhidden { position:absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px); } /* Hide only visually - available for screenreaders */
.invisible { visibility: hidden; } /* Hide visually and from screenreaders, but maintain layout */
.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; } /* Hides from IE-mac \*/
.clearfix { display: block; }
.left {float:left;}
.right {float:right;}
.center {text-align: center;}

@font-face {
	font-family: 'icomoon';
	src:url('../font/icomoon.eot');
	src:url('../font/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../font/icomoon.svg#icomoon') format('svg'),
		url('../font/icomoon.woff') format('woff'),
		url('../font/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/*--[ Layout ]--------------------------------------------------------------------------------*/

html {font-family: "proxima-nova",sans-serif;font-size: 100%;font-weight: 300;text-align: center;background: #fff;}

body {background: #FFF;text-align: left;color: #333;font-size:1em; /* 16 px equiv */line-height: 1.4em; /* 24px equiv */min-width: 320px;background:url(../img/body_bg.png);}

body, img, .wrap {  transition:all .3s linear;  -o-transition:all .3s linear;  -moz-transition:all .3s linear;  -webkit-transition:all .3s linear; }

/*--[ Typography ]--------------------------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 { color:#333;margin-bottom: 0.3em;font-weight: 300; }
p, ul, ol, dl, blockquote, hr, pre, table, fieldset, article, article footer{margin: 0 0 1.4em 0;line-height: 0em;}

h1{ font-size:3.2em; line-height: 0.9em; letter-spacing: -.05em;margin-top: 0.9em;margin-bottom: 0.6em;text-shadow: 2px 2px 0 #fff;} 
h2{ font-size:2.0em; line-height: 1.05em;margin-top: 0.9em;margin-bottom: 0.3em; letter-spacing: -.05em;color:#333;text-shadow: 1px 1px 0 #fff;} 
h3{ font-size:1.6em; line-height: 1em; letter-spacing: -.035em;margin-top: 0.3em;margin-bottom: 0.5em;text-shadow: 1px 1px 0 #fff;}  
h4{ font-size:1.1em; line-height: 1.4em;text-shadow: -1px -1px 0 #fff;text-shadow: 1px 1px 0 #fff;}
h5{  font-size:1.1em; line-height: 1.2em;font-weight:bold;text-shadow: 1px 1px 0 #fff;}
h6{ font-size:.9em; line-height: 1.1em; }
p{ font-size:1.05em;  line-height: 1.4em; }

ul{margin-bottom:1.5em;}
ul li{list-style:none;line-height:1.35em;}
ul li i{color:#777;}

p.lge{font: 4.6em/1em Georgia,"Times New Roman",Times,serif;margin:0.6em 0 -.25em;text-shadow: -2px -2px 0 #fff;}

hr {background: none;  border: 0;line-height: 0.5em;display:block;height:1px;border:none;border-top:1px solid #bbb;border-bottom:1px solid #fff;margin:1.2em 0;padding:0}
hr.light {border-top: 1px solid #ccc;border-bottom:1px solid #fff;line-height: 0.5em;}


blockquote {font-size: 36px;margin: 0 auto;position: relative;}
blockquote .quote{font: 4.2em/1 Georgia,"Times New Roman",Times,serif;left: 15px;top: -18px; color: #DDDDDD;position: absolute;}	
blockquote p{color:#333;font: 0.6em/1.6em Georgia,"Times New Roman",Times,serif;font-style:italic;padding:0 20px 0 85px;}
blockquote p span.lge{color:#777;font-size:2em;line-height:0.9em;vertical-align:sub;}
blockquote p span{font-size:1.5em;vertical-align:sub;}


/*--[ Header ]--------------------------------------------------------------------------------*/

header:before {
	content: "";position: absolute;clear:both;left: 0;top: -50%;z-index: 9999;
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.2)), color-stop(100%,rgba(255,255,255,0)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%);
	background: radial-gradient(center, ellipse cover, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%);
	width: 100%;height: 100%;
}
header { background:rgba(0, 0, 0, 0.85);/*text-shadow: 1px 1px 0 #333;-webkit-box-shadow: 0 2px 0 #f1f1f1;-moz-box-shadow: 0 2px 0 #f1f1f1;box-shadow: 0 2px 0 #f1f1f1;*/width: 100%;height:100px;position: absolute;top:0px;z-index:99999;left: 0;text-shadow: -1px -1px 0 #000;background:url(../img/bg-dark.png) #333;padding:0;}
header .wrap {height:50px;position: relative;margin-top:25px;}
header.fix{-webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.3);-moz-box-shadow: 0 2px 3px rgba(0,0,0,0.3);box-shadow: 0 2px 3px rgba(0,0,0,0.3);position: fixed;height:54px;}
header.fix .wrap{margin-top:0;}
.headerhold{height:100px;display:block;}
#logo{width:auto;}
#logo a {float:left;color:#fff;font-weight:800;margin:0;font:italic 2.1em/1.2em "swingdancer-1","swingdancer-2",Baskerville,Georgia,cursive;  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d0d0d0));-webkit-background-clip: text;-webkit-text-fill-color: transparent;text-shadow:none;padding:0 3px 0 0;border:none;}
	header.fix #logo a {font-size:1.9em;margin:8px 0 0;}
#logo a:hover{text-shadow:0px 0px 15px #fff;}
#logo h5{position:absolute;top:38px;left:4px;color:#666;font-weight:600px;font:0.8em/1em "proxima-nova",sans-serif;margin:0px;text-shadow: -1px -1px 0 #000;text-transform:uppercase;}
	header.fix #logo h5 {opacity:0;}

.top {border-bottom:1px solid #ddd;background:rgba(0, 0, 0, 0.85);text-shadow: -1px -1px 0 #000;}
.top .wrap{height:60px;position: relative;padding:20px 0 0 0;}
.top #logo a,.top nav a{}

.main {/* overflow: hidden;*/zoom: 1;clear: both;padding:.4em 0 4.2em 0;}

.wrap {width: 98%;width: 1190px; max-width: 1190px;margin:0 auto;display:block;}
.ie6 .wrap,.ie7 .wrap,.ie8 .wrap{width: 1220px; max-width: 1220px;}    


/*--[ Nav ]--------------------------------------------------------------------------------*/

nav {position: absolute;bottom:5px;/* right: 40px;*/right: 20px;}
nav ul li a {border:none;display: block;padding:10px 20px 10px 20px;margin:0 8px;color: #888;border-radius:8px;border:1px solid #000;text-decoration: none;line-height:1em;font-weight: 400;font-size:1.15em;-webkit-box-shadow:0 1px 0px rgba(255,255,255,.2) inset;-moz-box-shadow:0 1px 0px rgba(255,255,255,.2) inset;box-shadow:0 1px 0px rgba(255,255,255,.2) inset;cursor:pointer;}
nav ul li a:hover {-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
nav .current a {color: #ccc; }
nav ul {float:right;margin:0 16px 0 0;}
nav ul li{float:left;position:relative;}
ul.icons {padding:1px 5px 0 16px;float:left;margin:12px 0 0 20px;border-left:1px solid #000;-webkit-box-shadow:1px 0 0px rgba(255,255,255,.1) inset;-moz-box-shadow:1px 0 0px rgba(255,255,255,.1) inset;box-shadow:1px 0 0px rgba(255,255,255,.1) inset;}
ul.icons li{float:left;position:relative;}
ul.icons li a{padding:1px 1px 1px 1px;margin:0 4px;color: #666;border-radius:4px;border:none;text-decoration: none;line-height:1em;font-weight: 400;font-size:1.3em;text-shadow:-1px -1px 0px #000;}
nav a:hover,ul.icons li a:hover{ /*border-bottom: 1px solid #989898;*/color:#fff;text-shadow:0px 0px 10px #fff;}


/*--[ Images ]--------------------------------------------------------------------------------*/

img { max-width: 100%; }

.alignleft {float: left;clear: left;margin: 0.38em 1.62em 0.38em 0;}
.alignright {float: right;clear: right;margin: 0.38em 0 0.38em 1.62em;}
.aligncenter {margin: 0 auto 1.62em;display: block;}

.portfolio{padding:30px 0 10px 0;clear:both;display:table;}
.port {border-radius:0 0 8px 8px;border:1px solid #ccc;box-shadow: 0px 2px 5px rgba(0,0,0,0.2);float:left;margin:12px 12px 12px 12px;position: relative;width:374px;height: 100%;overflow:hidden;-webkit-backface-visibility: hidden;
-webkit-transition: 
		opacity 0.3s linear, 
		-webkit-transform 0.3s ease-in-out, 
		box-shadow 0.3s ease-in-out;
	-moz-transition: 
		opacity 0.3s linear, 
		-moz-transform 0.3s ease-in-out, 
		box-shadow 0.3s ease-in-out;
	-o-transition: 
		opacity 0.3s linear, 
		-o-transform 0.3s ease-in-out, 
		box-shadow 0.3s ease-in-out;
	-ms-transition: 
		opacity 0.3s linear, 
		-ms-transform 0.3s ease-in-out, 
		box-shadow 0.3s ease-in-out;
	transition: 
		opacity 0.3s linear, 
		transform 0.3s ease-in-out, 
		box-shadow 0.3s ease-in-out;}
.port img{border-bottom:2px solid #fff;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;width:374px;}
.portfolio article.blur{
	-webkit-transform: scale(0.96);
	-moz-transform: scale(0.96);
	-o-transform: scale(0.96);
	-ms-transform: scale(0.96);
	transform: scale(0.96);
	opacity: 0.4;
	text-shadow: 0px 0px 10px rgba(255, 210, 82, 0.9);
}
.portfolio article.active{
	box-shadow: 0px 5px 15px rgba(0,0,0,0.4);
	z-index: 100;	
	opacity: 1;
}
.port .header:before {
	content: "";position: absolute;clear:both;left: 0;top: -50%;z-index: 9999;
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.2)), color-stop(100%,rgba(255,255,255,0)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%);
	background: radial-gradient(center, ellipse cover, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%);
	width: 100%;height: 100%;
}
.port:hover{cursor:pointer;}
.port .header {border-radius:0 0 8px 8px;position:relative;width:97%;height: 54px;background:rgba(0, 0, 0, 0.80);text-shadow: -1px -1px 0 #000;background:url(../img/bg-dark.png) #333;padding:0 1px 0 4%;/*border-radius: 0 0 0.5em 0.5em;*/}
.port .header i{float:right;position:absolute;right:5%;top:30px;font-size:1.3em;color:#999;text-shadow:0px 0px 8px #999;}
.port .header h4 {font-size: 0.8em;font-weight: 600;margin: 0;padding: 8px 0 0;text-transform: uppercase;color:#ddd;text-shadow:-1px -1px 0 #000;}
.port .header h5 {font-size: 1.2em;font-weight: 200;text-shadow:-1px -1px 0 #000;margin:0;}
.port .header h5:before, [class*=" icon-"]:before {
	font-family: 'icomoon';
	font-style: normal;
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	content: "\e00b";
	float:right;position:absolute;right:5%;top:13px;font-size:1.5em;color:#333;text-shadow:0px 1px 0px #000;
}
.port .header h5 a { color: #999; }

/*--[ Portfolio Detail ]--------------------------------------------------------------------------------*/

.detail{position: relative;}
.detail .heroimages {height:620px;width:660px;float:left;position: relative;}
.detail .heroimages img{position: absolute;}
.detail .auximages{float:left;text-align:center;width:650px;}
.detail .auximages img{margin:0 auto;display:block;}

.detail .side {padding-top: 10px;width: 460px;float:right;position: relative;padding-bottom:20px;}

.other h3{font-size:1.3em;padding:10px 10px 0 20px;}
.other ul{padding:0 10px 0 20px;list-style:inside;}

.pf-logo {z-index: 1; }    
.headimage {z-index: 2;}
.iphone {z-index: 3;}

.stores{max-width:370px;width:100%;margin:10px auto 30px;}
	.stores img{margin:2px 4px 2px 4px;}
	.stores a:hover{ /* IE 8 */ -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";/* IE 5-7 */ filter: alpha(opacity=70); /* Netscape */ -moz-opacity: 0.7;/* Safari 1.x */-khtml-opacity: 0.7;/* Good browsers */opacity: 0.7;}	

.headimage {left: 10px;top: 10px;width: 560px;}    
.iphone {width: 190px;top: 220px;right: 10px;}   

.half{width:555px;margin-right:80px;display:inline;float:left;position:relative;}
.half.form{padding-top:30px;padding-bottom:10px;margin-right:0;}
.half.form.home{padding:0;margin-right:0;}

#mc_embed_signup{background: #eee;line-height: 2em;width:90%;margin:15px 0 10px;padding:0.7em 5% 0.1em 5%;}
#mc_embed_signup input[type=email]{width:95%;margin:0 0 0.2em;display:block;}

/*--[ Contact Form ]--------------------------------------------------------------------------------*/

label{width:26%;display:inline-block;margin: 0.5em 4% 0 0;font-size:1.2em;text-align:right;}
	label span{font-size:1.7em;color:#999;line-height:0;vertical-align:middle;}
input, textarea {border: 1px solid #E5E5E5;clear: both;	-khtml-border-radius:0.3em;-webkit-border-radius:0.3em;-moz-border-radius:0.3em;border-radius:0.3em;box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1) inset;overflow: hidden;position: relative;background-color:#FFFFFF;border: 1px solid #DDDDDD;color: #777777;display: block;font-size: 1em;line-height: 1em; margin: 0.3em 0 0.6em; outline: 0 none;padding: 0.375em;width: 60%;display:inline-block;vertical-align:top;}
input {height: 20px;width:45%;}
textarea {height: 120px;margin: 0.3em 0 0.8em;}	

input:hover, textarea:hover,input:focus, textarea:focus{border-color:#222222;transition:border-color 0.4s ease 0s;  -o-transition:border-color 0.4s ease 0s;  -moz-transition:border-color 0.4s ease 0s;-webkit-transition:border-color 0.4s ease 0s;}

input[type=button], input[type=submit]{
	position: relative;overflow:auto;display:inline-block;border:1px solid #333;color: #eee;cursor: pointer;font-size: 1.0em;line-height: 1em;width:auto;text-align:center;margin:10px 0 20px 30%;background: #333;overflow: hidden;cursor: pointer;-webkit-box-shadow:0 1px 0px rgba(255,255,255,.3) inset;-moz-box-shadow:0 1px 0px rgba(255,255,255,.3) inset;box-shadow:0 1px 0px rgba(255,255,255,.3) inset;		
			background: #555555; /* Old browsers */
			background: -moz-linear-gradient(top,  #555555 0%, #222222 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#555555), color-stop(100%,#222222)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #555555 0%,#222222 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #555555 0%,#222222 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #555555 0%,#222222 100%); /* IE10+ */
			background: linear-gradient(top,  #555555 0%,#222222 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#222222',GradientType=0 ); /* IE6-9 */
			-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-ms-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	height:40px;
	line-height:20px;
	padding: .5em 2em .7em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .6em; 
	-moz-border-radius: .6em;
	border-radius: .6em;
text-shadow: -1px -1px 0 #000;
}

/* chrome, safari */  
::-webkit-input-placeholder {  
    color:#CCC;  
    font-style:italic;  
}  
/* mozilla */  
input:-moz-placeholder, textarea:-moz-placeholder {  
    color:#CCC;  
    font-style:italic;  
}  

.button:hover:before {
	background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,.1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,.1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,.1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,.1) 0%,rgba(255,255,255,0) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,.1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: radial-gradient(center, ellipse cover,  rgba(255,255,255,.1) 0%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
input[type=button]:hover, input[type=submit]:hover, .button:hover {
	text-decoration: none;-webkit-transition: none;-moz-transition: none;-ms-transition: none;-o-transition: none;transition: none;color:#eee;border:1px solid #222;background: #222;-webkit-box-shadow:0px 0px 0px,0px 1px 1px rgba(255, 255, 255, 0.9) inset;-moz-box-shadow: 0px,0px 1px 1px rgba(255, 255, 255, 0.9) inset;-ms-box-shadow: 0px,0px 1px 1px rgba(255, 255, 255, 0.9) inset;-o-box-shadow: 0px,0px 1px 1px rgba(255, 255, 255, 0.9) inset;
	box-shadow:0px 0px 0px,0px 1px 1px rgba(0, 0, 0, 0.9) inset;
}

*:required:after {
  content: "";
}

/*--[ Footer ]--------------------------------------------------------------------------------*/

footer ul li{list-style:none;display:inline-block;margin:0 4px 0 4px;line-height:1.2em;}
footer ul li a {font-size: .9em; text-transform: uppercase;text-decoration: none;}
footer ul li a:hover {}
.icon-envelope-alt,.icon-phone,.icon-circle-arrow-right{vertical-align:middle;}
.icon-small{margin-left:5px;}
.contact a .icon-small{color:#444;}

.default {color: #333;}

/*--[ Graph ]--------------------------------------------------------------------------------*/

.graph{position:relative;height:200px;width:100%;margin:180px 0 100px;font-family:Arial, Helvetica, sans-serif;color:#222;}

.cube {position: absolute;left: 20%;bottom: 0px;opacity:.8}
.cube p {line-height: 14px;font-size: 13px;}
.cube h2 {font-weight: bold;}
.cube.two {bottom: 12%;left: 28%;}
.cube.three {bottom: 24%;left: 36%;}
.cube.four {bottom: 36%;left: 44%;}
.cube.five {bottom: 48%;left: 52%;}
.cube.six {bottom: 60%;left: 60%;}
.cube.seven {bottom: 72%;left: 68%;}
.cube.eight {bottom: 84%;left: 76%;}

.cube.scale {left: 15%;bottom: -10%;}

.rightFace,.leftFace,.topFace div {padding: 0px;width: 30px;height: 112px;}

.l2 .rightFace,.l2 .leftFace{height:160px;}
.l2 .topFace{bottom: 154px;}
.l2 .rightFace p{margin-top:75px;}

.l3 .rightFace,.l3 .leftFace{height:210px;}
.l3 .topFace{bottom: 204px;}
.l3 .rightFace p{margin-top:125px;}

.l4 .rightFace,.l4 .leftFace{height:260px;}
.l4 .topFace{bottom: 254px;}
.l4 .rightFace p{margin-top:175px;}

.scale ul{text-align:right;-webkit-transform: skew(0deg, 30deg);-moz-transform: skew(0deg, 30deg);-o-transform: skew(0deg, 30deg);-ms-transform: skew(0deg, 30deg);transform: skew(0deg, 30deg);margin:0 0 -15px -20px;font-size:11px;}
.scale li{margin:90px 0 30px;border-bottom:1px solid #333;}

.rightFace,.leftFace,.topFace {position: absolute;bottom:0;}

.rightFace p{transform: rotate(270deg);-ms-transform: rotate(270deg); /* IE 9 */-webkit-transform: rotate(270deg); /* Safari and Chrome */-o-transform: rotate(270deg); /* Opera */
-moz-transform: rotate(270deg); /* Firefox */line-height:13px;margin:30px 0 0 -55px;width:140px;}
.leftFace {-webkit-transform: skew(0deg, 30deg);-moz-transform: skew(0deg, 30deg);-o-transform: skew(0deg, 30deg);-ms-transform: skew(0deg, 30deg);transform: skew(0deg, 30deg);
background-color: #c5c5c5;}
.rightFace {-webkit-transform: skew(0deg, -30deg);-moz-transform: skew(0deg, -30deg);-o-transform: skew(0deg, -30deg);-ms-transform: skew(0deg, -30deg);transform: skew(0deg, -30deg);
background-color: #ccc;left: 29px;}
.topFace div {-webkit-transform: skew(0deg, -30deg) scale(1, 1.16);-moz-transform: skew(0deg, -30deg) scale(1, 1.16);-o-transform: skew(0deg, -30deg) scale(1, 1.16);-ms-transform: skew(0deg, -30deg) scale(1, 1.16);transform: skew(0deg, -30deg) scale(1, 1.16);background-color: #ddd;font-size: 0.862em;height:30px;}
.topFace {-webkit-transform: rotate(60deg);-moz-transform: rotate(60deg);-o-transform: rotate(60deg);-ms-transform: rotate(60deg);transform: rotate(60deg);bottom: 106px;left: 15px;}

.cube {-webkit-transition: -webkit-transform 0.3s linear;-moz-transition: -moz-transform 0.3s linear;-o-transition: -o-transform 0.3s linear;-ms-transition: -ms-transform 0.3s linear;
transition: transform 0.3s linear;}
.cube:hover {-webkit-transform: translate(12px, 6px);-moz-transform: translate(12px, 6px);-o-transform: translate(12px, 6px);transform: translate(12px, 6px);opacity:1;}

/*--[ Footer ]--------------------------------------------------------------------------------*/
footer {overflow: hidden;zoom: 1;clear: both;padding: 60px 0 0;text-align:center;}
.contact{border-top:1px solid #ddd;padding:0;position:relative;}
	.contact h2{margin:.5em 0 .3em;}
	.contact a{display:inline-block;}
	
.contact i.peo{background-color: #333333;position:absolute;top:0px;border-radius: 40px; color: #FFFFFF;margin: -20px 0 0 -20px;padding: 11px 19px 11px 17px;text-shadow:-1px -1px 0 #000;}
a {color: #555;text-decoration: none;}
a:hover{color: #000;text-decoration: none; transition:all 0.4s ease 0s;-o-transition:all 0.4s ease 0s;-moz-transition:all 0.4s ease 0s;-webkit-transition:all 0.4s ease 0s;text-shadow:0px 0px 5px #fff;}

/*--[ Laptop & Desktop ]--------------------------------------------------------------------------------*/
@media only screen and (min-width: 1200px) {	
    .portfolio .port:nth-child(3n) { margin-right: 5px;}
	.portfolio .port:nth-child(3n-2) { margin-left: 5px;}  
}
/*--[ iPad Landscape and Older Desktop]----------------------------------------------------------------------*/
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
    body {font-size:0.95em;}
	.wrap {max-width: 960px;}    
	
	h1{font-size:2.8em;}
	nav{right:0;}
	nav ul {float:right;margin:3px 14px 0 0;}
     nav ul li a{padding:1px 14px 0} 
    .port { margin-bottom: 30px;width: 300px;margin-right:22px;}    
	    .portfolio .port:nth-child(3n) {margin-right: 0;}    
    .port img {width: 100%;}    

	blockquote .quote{}	
	blockquote p{font-size: 0.5em;}

	.detail .heroimages {height:600px;width:510px;} 
	.detail .auximages{width:510px;} 
   	.detail .side {padding-top: 20px;width: 385px;}   	
	.headimage {top: 10px;}    
	.iphone {width: 160px;top: 250px;right:0;}   
	.half{width:455px;margin-right:50px;}

	#mc_embed_signup input[type=email]{width:94%;}
	
	.graph{height:180px;}
}

/*--[ 2 column - iPad portrait ]--------------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
     body {font-size:0.9em;}
    .wrap {max-width: 768px;}  
	  
     h1{font-size:2.5em;padding:10px 0 15px;}
	 h2{font-size:1.8em;}
    .port {margin-bottom: 30px;width: 364px;margin-right:35px;}	
    .portfolio .port:nth-child(2n) {margin-right: 0;}    
    .port img {}
    .port .header h5 {font-size: 1.3em;}
   	#logo a{margin:9px 0 0;} 	
	blockquote p{font-size: 0.45em;}

	nav{right:0;}
	nav ul {float:right;margin:3px 8px 0 0;}
     nav ul li a{padding:1px 10px 0 10px;} 
	 nav ul.icons {padding:0 0 0 9px;}
	 		 nav ul.icons li a{padding:2px 0 0 0;}

	
    /* portfolio detail */
    .detail {height: 460px;width: 750px; }    
		.detail .side{padding-top: 5px;width: 300px;}   
    	.detail .heroimages {height:460px;width:410px;} 
			.detail .auximages{width:410px;} 
    .headimage {left: 0px;top: 10px;width: 435px;}    
	.iphone {top: 210px;width: 120px;	}
    .detail h3 { font-size: 1.4em !important; }
	
	.half{width:360px;margin-right:40px;}
	
	.graph{height:140px;margin:220px 0 60px;}
}

/* 
	1-column layout for smartphones
*/

@media only screen and (max-width: 767px) {
    body {font-size:1em; /* Set to 14 px for smart phones creating 28px vertical rhythm */  line-height: 1em; }
	.headerhold{height:50px;}
	header {padding:0;padding:0;position: fixed;margin:-50px 0 0 0;}
	header .wrap {height:100px;margin:0 auto;text-align:center;padding:0;}	
	header.fix{margin:-50px 0 0 0;height:100px;}
	header.fix #logo{}

	 .wrap {margin-left:auto;margin-right:auto;padding:10px 0 0;min-width:300px;width:380px;}
	  h1{ font-size:2.1em; line-height: 1.1em; letter-spacing: -.05em;padding:0.1em 0 0.3em;} 
	  h2{ font-size:1.6em; line-height: 1.125em; letter-spacing: -.05em; } 
	  h3{ font-size:1.3em; line-height: 1.2em; letter-spacing: -.035em; } 
	  h4{ font-size:1.1em; line-height: 1.2em;}
	  h5{ font-size:1.1em; line-height: 1.3333em;}
	  h6{ font-size:0.875em; line-height: 1.7143em;}
		p{font-size:1em}
	
	#logo a {font-weight:400;letter-spacing:-1px;font-size:1.5em;margin:20px 0 0;float:none;display:inline-block;}
		#logo h5 {font-size:1em;line-height:1em;float:none;margin:22px 0 0 3px;display:inline-block;}
		
		
	nav {clear:both;display: block;text-align:center;position:relative;bottom:auto;right:auto;padding:14px 0 0 0;}
	nav a, #main-nav a:hover { border-bottom: 0; }
	/*#main-nav ul li {width:33%; float:left; margin: 0}*/
	/*#main-nav ul li a { display: block;padding:5px 0 2px 5px;line-height: 1;font-size: 14px;text-align: center; }*/
	nav ul li {display: inline;width:auto; float:none; margin: 0;}
	nav ul.menu{margin:2px 0 0 0;display:inline-block;float:left;}
	nav ul li a { display: inline;padding:5px 4px 0 4px;line-height: 1;font-size: 16px;text-align: center; }
	nav ul.icons{padding:3px 7px 0 0px;display:inline-block;border:none;float:right;margin:0;}
	nav ul.icons li a{padding:2px 1px 0;}
	nav ul.icons li [class^="icon-"], li [class*=" icon-"]{width:auto;}
	footer {width: 100%;}
	.portfolio{padding:0;}
	.port {width:378px;margin:0 auto 20px auto;float:none;}	
	.port .header{bottom:0;height:50px;background-color:rgba(0, 0, 0, 0.7);}
	.port .header h4{padding:10px 0 0}
 	.port .header h5{font-size:1em; }
	.port .header i{top:19px;}
	 
	 
	/* portfolio detail */
    .detail {height: auto;width: 380px;}    
    .detail .side {padding: 30px 5px 0 5px;width: auto;float:none;}        
	.detail .heroimages {margin:10px 0 0 0;height:290px;width: auto;float:none;} 
	    .headimage {left: 0px;top: 0px;width: 320px;}    
		.iphone {top: 140px;width: 100px;	}
	.detail .auximages{margin:0;width: auto;float:none;}
    /* .headimage, .iphone { display: none; visibility: hidden; } */
    .detail .side h3 { font-size: 1.4em !important; }    
    .detail .side h3 { position: absolute; top: 35px;line-height: 1em;}  
	.half{width:100%;margin-right:0px;margin-top:0px;padding-right:5px;padding-left:5px;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
	.half.form{margin:0;}
	blockquote .quote{font-size:2.9em;left: -10px;top: -15px;}	
 	blockquote p{font-size: 0.4em;padding:0 10px 0 30px;}		
	input, textarea { width: 95%;font-size:16px;}	

	p.lge{margin:0.2em 0 -0.2em}
	
	.graph{height:140px;margin:220px 0 20px;}

}
@media only screen and (max-width: 479px) {
	body {font-size:0.9em; }
	.wrap{padding:10px 0 0 0;width:310px;}
	header .wrap,header.fix .wrap {margin-top:2px;}	
	.detail {width: 310px;}  
		    .headimage {left: 0px;top: 0px;width: 300px;}    
		.iphone {top: 120px;width: 100px;	}
	#logo a {font-size:1.6em;margin:20px 0 0;}
		#logo h5 {font-size:1.1em;margin:20px 0 0 2px;}
			input, textarea{width:92%;}
	 .port {width:308px;}	
	.graph{height:120px;margin:220px 0 20px;}
}


/*--[ PRINT STYLES ]--------------------------------------------------------------------------------*/
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none; letter-spacing: 0 !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }  
  img { page-break-inside: avoid; } 
  @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }  
  header,footer,nav{display: none; }    
  .main { overflow: visible; }
  .wrap { width: 100%; margin: 0; }
 	.port {width: 300px;}  
  .port { font-size: 0.8em; height: auto; margin-bottom: 10px; }
  .port p { display: none; }  
  .port .header { padding: 0; height: auto; position: relative; }
  .port a:after { content: ""; }  
   .detail { width: 100%; height: auto; float: left; }    
    .detail  img, .detail  div { position: relative; }
    .iphone, .headimage{ display: none !important; }
}


/* IE6 + 7 warning */

#ieWarning {background: #F6F6F6;border-bottom:1px solid #CCC;padding: 20px 0 0;	overflow: hidden;width:100%;zoom:1;}
#ieWarning p {line-height: 16px;margin: 0;padding: 0 20px 5px 20px;}
#ieWarning .more-info {float: right;margin: 20px;padding: 5px;background: #989898;color: #FFF;white-space: nowrap;zoom:1;}